.h1 {
    align-content: center;
    text-align: center;
  }

  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }