/* .h1 {
    align-content: center;
    text-align: center;
  } */

  /* .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    direction: rtl;
  } */

  /* page.module.css */
.title {
  color:white;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  line-height: 1.2;
  margin-top: 120px;
  cursor: default; /* Prevents the text selection cursor on hover */
}

.title:hover {
  transform: scale(1.1); /* Slightly increases the size */

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5e1e5;
  font-family: Arial, sans-serif;
  direction: rtl;
  margin-top: -20px;
}

/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5e1e5;
  font-family: Arial, sans-serif;
} */

.h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 2rem;
  align-content: center;
    text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #faf6f6;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  direction: rtl;
  align-items: center;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.label {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border-color: #f5e1e5;
}

.button {
  padding: 0.8rem 5.5rem;
  margin: 20px;
  font-size: 1.1rem;
  color: #fff;
  background-color: #ee849d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #edb4c1;
}


.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between; /* Space between logo and nav links */
  align-items: center; /* Center items vertically */
  background-color: #ee849d;
  height: 60px; /* Set height to ensure proper spacing */
  width: 100%;
  font-family: "Nunito", sans-serif;
  top: 0;
  left:0%;
}