.mentorCard {
    --background: #ffffff;
    --foreground: #171717;
    border: 0.0625rem solid #ccc;
    padding: 1.25rem;
    border-radius: 0.625rem;
    max-width: 250px; /* מקסימום רוחב לכרטיסייה */
    min-height: 370px; /* העלאה של גובה מינימלי */
    height: auto; /* מאפשר גובה דינמי */
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* שיפור ה- box-shadow */
    overflow: hidden;
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
.cardName {
    font-size: 1.2rem; /* Responsive heading size */
    color: rgb(227, 15, 188);
}
.cardLang {
    font-size: 1rem; /* Responsive heading size */
    color: rgb(30, 32, 150);
}

.cardAbout {
    font-size: 0.8rem; /* Responsive heading size */
    color: rgb(30, 32, 150);
}
/* גודל קבוע לתמונות */
.mentorImg {
    width: 120px; /* רוחב קבוע לתמונה */
    height: 120px; /* גובה קבוע לתמונה */
    border-radius: 50%;
    object-fit: cover; /* שמירה על יחס ממדים */
    margin-bottom: 0.9375rem;
    margin: 0 auto 0.9375rem auto; /* מרכוז התמונה */
}



/* הגדרה רספונסיבית למסכים קטנים */
@media (max-width: 768px) {
    .mentorCard {
        width: 100%; /* הכרטיסייה תתפוס את כל הרוחב במסכים קטנים */
        max-width: none; /* לבטל את ה-max-width במסכים קטנים */
    }
}


/* @media (prefers-color-scheme: dark) {
    .mentorCard {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

/* .mentorImg {
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.9375rem;
} */

.languagesList {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.625rem;
    border-radius: 0.625rem;
    flex-wrap: wrap;
    max-width: 100%;
}

.languageItem {
    background-color: #d1e7dd;
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;
    color: #0f5132;
    font-weight: bold;
    font-size: 0.75rem;
    box-shadow: 0.0625rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.1);
    margin: 0.25rem; /* הקטנת הרווחים בין התגים */
}

.clickToZoomMentor:hover {
    cursor: pointer;
}