/* searchBar.module.css */

.searchBarContainer {
    padding: 20px;
    background-color: var(--color-background);
    direction: rtl;
  }
  
  .searchBarHeader {
    font-family: "Nunito", sans-serif;
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
    margin-bottom: 20px;
  }
  
  .searchInput {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 360px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    outline: none;
  }
  
  .searchInput::placeholder {
    color: var(--color-accent1);
    font-family: "Nunito", sans-serif;
  }
  
  .searchInput:focus {
    border-color: var(--color-secondary);
    box-shadow: 0 0 5px var(--color-secondary);
  }
  