.h1 {
  font-size: 5rem;
  text-align: center; 
  font-family: "Nunito", sans-serif;
  font-weight: var(--font-weight-bold);
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: default;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  margin-bottom: 0;
}

.children {
  margin-top: 60px; /* מרווח כדי למנוע חפיפה עם ה-navbar */
  background-color: #f4f4f4;
  min-height: 100vh; /* כדי שתמיד תופיע מגילה */ 
}

.search {
  display: flex;
  justify-content: center; 
  margin-bottom: 20px;
  gap: 0.25rem;
}

.container {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh; /* Full viewport height */
  padding: 2rem;
  background-color: #f5e1e5; /* Light background */
  direction: rtl;
  align-items: center;
}


