:root {
  --color-primary: #EE849D;
  --color-secondary: #F0B9C6;
  --color-accent1: #bcbcbc;
  --color-accent2: #ffffff;
  --color-light: #f3d7dc;
  --color-background: #f5e1e5;

  
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-weight-extraBold: 900;
}


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

.nunitoFont {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5e1e5;
  font-family: Arial, sans-serif;
  direction: rtl;
}
.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between; /* Space between logo and nav links */
  align-items: center; /* Center items vertically */
  background-color: #ee849d;
  padding: 1.5rem;
  height: 60px; /* Set height to ensure proper spacing */
  width: 100%;
  font-family: "Nunito", sans-serif;
  top: 0;
  left:0%;
}
.children{
  margin-top: 60px; /* מרווח כדי למנוע חפיפה עם ה-navbar */
  padding: 20px;
  background-color: #f4f4f4;
  min-height: 100vh; /* כדי שתמיד תופיע מגילה */  
}

.fontLight {
  font-weight: var(--font-weight-light);
}

.fontNormal {
  font-weight: var(--font-weight-normal);
}

.fontBold {
  font-weight: var(--font-weight-bold);
}

.fontExtraBold {
  font-weight: var(--font-weight-extraBold);
}

body {
  background-color: var(--color-background);
}

.pages{
  margin-top: 500rem;
}

