/* page.module.css */

/* Container Styles */
.container {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Full viewport height */
  padding: 2rem;
  background-color: #f5e1e5; /* Light background */
  direction: rtl;
}

.title {
  font-size: 5rem;  /* Large font size for prominence */
  font-weight: var(--font-weight-bold); /* Bold for emphasis */
  text-align: center; /* Center the title */
  margin: 20px 0; /* Some space around the title */
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth hover transition */
  cursor: default; /* No text select cursor */
  color: white;
}

/* Hover effect */
.title:hover {
  transform: scale(1.1); /* Slight zoom-in effect */
}



/* Heading Styles */
.h1 {
  padding: 2rem 0;
  margin-bottom: 2rem;
  font-size: 2.5rem; /* Responsive heading size */
  color: #333; /* Dark color for contrast */
  text-align: center;
  font-size: 2rem;
  color: var(--color-secondary);
}

/* Input Styles */
.input {
  width: 350px;
  padding: 0.5rem;
  border: 1px solid #ccc; /* Light border */
  border-radius: 0.5rem; /* Rounded corners */
  margin-bottom: 1rem;
  font-size: 1rem; /* Standard font size */
  transition: border 0.3s; /* Transition for focus effect */
}

.input:focus {
  outline: none; /* Remove default outline */
}

/* Button Styles */
.button {
  padding: 0.5rem 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  color: var(--color-primary); /* Primary button color */
  font-weight: bold;
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
}

.button:disabled {
  background-color: var(--color-secondary); /* Disabled button color */
  cursor: not-allowed; /* Not allowed cursor */
}

.button:hover:not(:disabled) {
  color: var(--color-primary); /* Darker button color on hover */
  transform: translateY(-2px); /* Slight lift effect */
}

/* Link Styles */
.link {
  margin-top: 1rem;
  color: var(--color-secondary); /* Link color */
}

.link:hover {
  text-decoration: underline; /* Underline on hover */
}

.link span {
  font-weight: bold; /* Bold text for emphasis */
  color: var(--color-primary); /* Green color for 'Register' link */
}

/* Small adjustments for the footer link */
.footer-link {
  margin-top: 0.5rem;
  opacity: 0.5; /* Light opacity */
}



/* Sticky NavBar CSS */
.navbar {
  position: sticky; /* Makes the NavBar sticky */
  top: 0; /* Stick to the top */
  width: 100px; /* Full width */
  background-color: #fff; /* White background for visibility */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  z-index: 1000; /* Ensure it stays above other content */
  padding: 1rem 2rem; /* Padding for the navbar */
  display: flex; /* Flexbox layout */
  justify-content: space-between; /* Space between items */
  align-items: center; /* Center items vertically */
}

