.mentorsCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* יוצר עמודות רספונסיביות */
  gap: 10px; /* קביעת רווח קבוע בין הכרטיסיות */
  padding: 20px;
  justify-items: center; /* מרכז את הכרטיסיות */
}