/* components/NavBar.module.css */

.navbar {
    display: flex;
    justify-content: space-between; /* Space between logo and nav links */
    align-items: center; /* Center items vertically */
    background-color: #ee849d;
    padding: 1.5rem;
    height: 60px; /* Set height to ensure proper spacing */
}

.logoContainer {
    display: flex;
    align-items: center; /* Center logo vertically */
    flex: 1; /* Flex 1 allows logo to take available space */
}



.logo {
    height: 50px; /* Set height of the logo */
    width: auto; /* Keep aspect ratio */
}

.navLinks {
    display: flex;
    align-items: center; /* Align the links and buttons vertically */
    justify-content: flex-end; /* Push links to the right */
    flex: 1; /* Ensure this section takes equal space */
}

.greeting {
    color: white;
    margin-right: 50px; /* Space between greeting and button */
}

.loginButton {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #0070f3; /* Button background color */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    cursor: pointer;
}

.loginButton:hover {
    background-color: #8500b5; /* Darker background on hover */
}
