/* components/NavBar.module.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EE849D;
    padding: 1rem;
}

.logoContainer {
    flex: 1;
}

.navLinks {
    flex: 1;
    text-align: right;
}

.profileContainer {
    position: relative;
    display: inline-block;
}

.greeting {
    cursor: pointer; /* Change cursor to pointer for interactivity */
    color: white; /* Ensure text is readable */
    margin-right: 10px; /* Space between greeting and dropdown */
}

.dropdown {
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

.dropdownItem {
    display: flex; /* Use flex to center align */
    justify-content: center; /* Center horizontally */
    padding: 10px 20px;
    color: #871831;
    text-decoration: none;
}

.dropdownItem:hover {
    background-color: #f4ccd5;
}

.loginButton {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #f4b3c1;
    border-radius: 2px;
}

.loginButton:hover {
    background-color: #f4ccd5;
    color: #b3727f;
}
